.DS_Store
*.provisionprofile
build/
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
*.cer
*.certSigningRequest


#Ignore vscode AI rules
.github/instructions/codacy.instructions.md
