<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>trustList</key>
	<dict>
		<key>06EC06599F4ED0027CC58956B4D3AC1255114F35</key>
		<dict>
			<key>issuerName</key>
			<data>
			MGIxCzAJBgNVBAYTAlVTMRMwEQYDVQQKEwpBcHBsZSBJbmMuMSYw
			JAYDVQQLEx1BcHBsZSBDZXJ0aWZpY2F0aW9uIEF1dGhvcml0eTEW
			MBQGA1UEAxMNQXBwbGUgUm9vdCBDQQ==
			</data>
			<key>modDate</key>
			<date>2026-01-03T21:19:51Z</date>
			<key>serialNumber</key>
			<data>
			fK9pCiW3Of57m0R6wXjF7g==
			</data>
		</dict>
		<key>0BE38BFE21FD434D8CC51CBE0E2BC7758DDBF97B</key>
		<dict>
			<key>issuerName</key>
			<data>
			MGcxGzAZBgNVBAMMEkFwcGxlIFJvb3QgQ0EgLSBHMzEmMCQGA1UE
			CwwdQXBwbGUgQ2VydGlmaWNhdGlvbiBBdXRob3JpdHkxEzARBgNV
			BAoMCkFwcGxlIEluYy4xCzAJBgNVBAYTAlVT
			</data>
			<key>modDate</key>
			<date>2026-01-03T20:42:04Z</date>
			<key>serialNumber</key>
			<data>
			IsGhRwp0c2nvU4YSycafPTjzbNc=
			</data>
		</dict>
		<key>5B45F61068B29FCC8FFFF1A7E99B78DA9E9C4635</key>
		<dict>
			<key>issuerName</key>
			<data>
			MGIxCzAJBgNVBAYTAlVTMRMwEQYDVQQKEwpBcHBsZSBJbmMuMSYw
			JAYDVQQLEx1BcHBsZSBDZXJ0aWZpY2F0aW9uIEF1dGhvcml0eTEW
			MBQGA1UEAxMNQXBwbGUgUm9vdCBDQQ==
			</data>
			<key>modDate</key>
			<date>2026-01-03T21:19:54Z</date>
			<key>serialNumber</key>
			<data>
			f7QAP82XSXrLg02SpIp4c8KEXUM=
			</data>
		</dict>
		<key>611E5B662C593A08FF58D14AE22452D198DF6C60</key>
		<dict>
			<key>issuerName</key>
			<data>
			MGIxCzAJBgNVBAYTAlVTMRMwEQYDVQQKEwpBcHBsZSBJbmMuMSYw
			JAYDVQQLEx1BcHBsZSBDZXJ0aWZpY2F0aW9uIEF1dGhvcml0eTEW
			MBQGA1UEAxMNQXBwbGUgUm9vdCBDQQ==
			</data>
			<key>modDate</key>
			<date>2026-01-03T20:50:43Z</date>
			<key>serialNumber</key>
			<data>
			Ag==
			</data>
		</dict>
		<key>9EC5BF333B0447DA858500DD46608654A1D12538</key>
		<dict>
			<key>issuerName</key>
			<data>
			MGIxCzAJBgNVBAYTAlVTMRMwEQYDVQQKEwpBcHBsZSBJbmMuMSYw
			JAYDVQQLEx1BcHBsZSBDZXJ0aWZpY2F0aW9uIEF1dGhvcml0eTEW
			MBQGA1UEAxMNQXBwbGUgUm9vdCBDQQ==
			</data>
			<key>modDate</key>
			<date>2026-01-03T21:19:53Z</date>
			<key>serialNumber</key>
			<data>
			E9x3lVJx5T3GMujM/+Uh88zFztI=
			</data>
		</dict>
		<key>F300CB8FDC809FCAF8777A262F369C5FDC190767</key>
		<dict>
			<key>issuerName</key>
			<data>
			MGcxGzAZBgNVBAMMEkFwcGxlIFJvb3QgQ0EgLSBHMzEmMCQGA1UE
			CwwdQXBwbGUgQ2VydGlmaWNhdGlvbiBBdXRob3JpdHkxEzARBgNV
			BAoMCkFwcGxlIEluYy4xCzAJBgNVBAYTAlVT
			</data>
			<key>modDate</key>
			<date>2026-01-03T21:19:48Z</date>
			<key>serialNumber</key>
			<data>
			b+/Y9emjp+4=
			</data>
		</dict>
		<key>FF18CCA93037FAC5B8A4AA924694FC43D7847799</key>
		<dict>
			<key>issuerName</key>
			<data>
			MGIxCzAJBgNVBAYTAlVTMRMwEQYDVQQKEwpBcHBsZSBJbmMuMSYw
			JAYDVQQLEx1BcHBsZSBDZXJ0aWZpY2F0aW9uIEF1dGhvcml0eTEW
			MBQGA1UEAxMNQXBwbGUgUm9vdCBDQQ==
			</data>
			<key>modDate</key>
			<date>2026-01-03T20:42:01Z</date>
			<key>serialNumber</key>
			<data>
			O36ACu7TAqHm7NuX2cqsKJzxaZQ=
			</data>
		</dict>
	</dict>
	<key>trustVersion</key>
	<integer>1</integer>
</dict>
</plist>
